/* Header - Cabeçalho */
header .container {
  width: 90%;
  margin: 10px auto;
  background: #CCCCCC;
  padding: 10px;
}

.titulo-principal {
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Main - Conteúdo principal */
main .container {
  width: 90%;
  margin: 25px auto;
}

/* Section flexbox-descricao */
.flexbox-descricao {
  display: flex;
  justify-content: space-around;
}

.flexbox-descricao-explicacao, .flexbox-descricao-imagem {
  width: 50%;
}

.flexbox-descricao-explicacao {
  margin-top: 10px;
}

.flexbox-descricao-explicacao li::before {
  content: url("https://img.icons8.com/ios/16/000000/box--v1.png");
}

.flexbox-descricao-explicacao ul {
  margin-left: 30%;
  text-align: left;
}

.flexbox-descricao-imagem {
  display: flex;
  justify-content: center;

}

.flexbox-descricao-imagem img {
  width: 350px;
  height: 400px;
}

/* Section flexbox-funcionamento */
.flexbox-funcionamento {
  margin-top: 25px;
  display: flex;
}

.flexbox-funcionamento-explicacao {
  width: 50%;
}

.flexbox-funcionamento-imagem {
  width: 50%;
  display: flex;
  justify-content: center;
}

.flexbox-funcionamento-imagem img {
  width: 250px;
  height: 350px;
}

/* Section - flexbox-flex-direction */
.flexbox-flex-direction {
  display: flex;
  margin-top: 20px;
}

.flexbox-flex-direction li::before {
  content: url("https://img.icons8.com/ios/16/000000/box--v1.png");
}

.flexbox-flex-direction ul {
  margin-left: 10%;
  text-align: left;
}

.flexbox-flex-direction-explicacao img {
  margin-left: 25%;
}

/* Section - flebox-justify-content */
.flebox-justify-content {
  display: flex;
  justify-content: space-between;
}

.flebox-justify-content-explicacao {
  width: 50%;
}

.flebox-justify-content-explicacao img {
  width: 450px;
  height: 400px;
  margin-left: 25%;
}

.flebox-justify-content-imagem {
  width: 50%;
}

.flebox-justify-content-imagem img {
  width: 400px;
  height: 525px;
  margin-left: 30%;
}






/* Footer - Rodapé */
footer .container {
  width: 90%;
  margin: 0 auto;
  background: #CCCCCC;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creditos a, .redes-sociais a{
  text-decoration: none;
  border: none;
  color: inherit;
}

.creditos h4 {
  transition: 400ms;
}

.creditos h4:hover {
  font-size: 25px;
}

.redes-sociais img {
  transition: 400ms;
}

.redes-sociais img:hover {
  width: 55px;
  height: 55px;
}